@charset "utf-8";
:root {
  --base-size: 7vh;
  --font-size-large: 2vw;
  --font-size-medium: 2vw;
  --font-size-small: 2vw;
  --accent-color: #ffc800;
  --ui-over-text-color: #000;
  --ui-over-bg: #fff;
  --ui-text-color: #fff;
  --ui-bg: #ccc;
  --ui-bg-hover: #fff;
  --ui-bg-focus: #fff;
  --main-text-color: #fff;
  --main-bg: #fff;
  --bg: #000;
}
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) or (-moz-backdrop-filter: blur(10px)) {
  :root {
    --ui-bg: rgba(200,200,200,0.5);
  }
}
@media screen and (max-width: 680px) {
  :root {
    --base-size: 12vw;
  }
}
.flex-container {
  display: flex;
}
html,
body {
  margin: 0;
  width: 100vw;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--main-text-color);
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: calc(var(--base-size) / 6) calc(var(--base-size) / 2 + env(safe-area-inset-left)) calc(var(--base-size) / 6) calc(var(--base-size) / 2 + env(safe-area-inset-right));
  height: calc(var(--base-size) + env(safe-area-inset-top));
  box-sizing: border-box;
  color: var(--ui-text-color);
  background-color: var(--ui-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  z-index: 1000;
}
.header_logo {
  display: inline-block;
  height: 100%;
  width: auto;
  object-fit: contain;
}
.header_title {
  display: inline-block;
  position: absolute;
  top: 0;
  height: var(--base-size);
  line-height: var(--base-size);
  font-size: calc(var(--base-size) / 1.5);
  width: auto;
  margin: 0 0 0 0.5em;
}
.header_button {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  border: none;
  height: var(--base-size);
  display: inline-block;
  background-color: transparent;
  animation-name: derotate_button;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: both;
}
.header_button_svg {
  height: 100%;
  pointer-events: none;
}
.header_navigation {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1001;
  right: 0;
  animation-name: fold_navigation;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.8, 0, 0.7, 0.7);
  animation-fill-mode: both;
}
#header_button:checked ~ .header_navigation {
  animation-name: expand_navigation;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 200ms;
  animation-fill-mode: both;
}
#header_button:checked ~ .header_button {
  animation-name: rotate_button;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.header_navigation_list {
  display: flex;
}
main {
  margin-top: calc(var(--base-size) * 1.5);
  width: 100vw;
}
article {
  padding: 0 10vw;
  width: 80vw;
}
.main_works_article-section_iframe {
  width: 80vw;
  height: calc(80vw / 16 * 9);
}
.main_works_hero_image {
  width: 100%;
  height: calc(100vh - var(--base-size));
  object-fit: contain;
}
.main_team_avatar {
  width: 5vw;
  height: auto;
}
@media screen and (max-width: 680px) {
  .main_team_avatar {
    width: 15vw;
  }
}
footer {
  width: 100vw;
}
@-moz-keyframes fold_navigation {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(100%, 0%);
  }
}
@-webkit-keyframes fold_navigation {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(100%, 0%);
  }
}
@-o-keyframes fold_navigation {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(100%, 0%);
  }
}
@keyframes fold_navigation {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(100%, 0%);
  }
}
@-moz-keyframes expand_navigation {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes expand_navigation {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@-o-keyframes expand_navigation {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes expand_navigation {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@-moz-keyframes rotate_button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes rotate_button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
@-o-keyframes rotate_button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
@keyframes rotate_button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
@-moz-keyframes derotate_button {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes derotate_button {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-o-keyframes derotate_button {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes derotate_button {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
