@charset "utf-8";
:root {
  --base-size: 3vw;
  --font-size-large: 2vw;
  --font-size-medium: 2vw;
  --font-size-small: 2vw;
  --accent-color: #ffc800;
  --ui-over-text-color: #000;
  --ui-over-bg: #fff;
  --ui-text-color: #fff;
  --ui-bg: #c3c3c3;
  --ui-bg-hover: #fff;
  --ui-bg-focus: #fff;
  --main-text-color: #fff;
  --main-bg: #fff;
  --bg: #000;
}
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) or (-moz-backdrop-filter: blur(10px)) {
  :root {
    --ui-bg: rgba(200,200,200,0.5);
  }
}
@media screen and (max-width: 680px) {
  :root {
    --base-size: 8vw;
  }
}
html,
body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--main-text-color);
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - var(--base-size) * 2);
  height: var(--base-size);
  padding: calc(var(--base-size) / 4) var(--base-size);
  color: var(--ui-text-color);
  background-color: var(--ui-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  z-index: 1000;
}
.header_title {
  margin: 0;
}
.header_button {
  margin: 0;
}
main {
  margin-top: calc(var(--base-size) * 1.5);
}
