@charset "utf-8";
:root {
  --base-size: 7vh;
  --font-size-large: 2vw;
  --font-size-medium: 2vw;
  --font-size-small: 2vw;
  --accent-color: #ffc800;
  --ui-over-text-color: #000;
  --ui-over-bg: #fff;
  --ui-text-color: #fff;
  --ui-bg: #c3c3c3;
  --ui-bg-hover: #fff;
  --ui-bg-focus: #fff;
  --main-text-color: #fff;
  --main-bg: #fff;
  --bg: #000;
}
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) or (-moz-backdrop-filter: blur(10px)) {
  :root {
    --ui-bg: rgba(200,200,200,0.5);
  }
}
@media screen and (max-width: 680px) {
  :root {
    --base-size: 12vw;
  }
}
html,
body {
  margin: 0;
  width: 100vw;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--main-text-color);
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: calc(var(--base-size) / 6) calc(var(--base-size) / 2 + env(safe-area-inset-left)) calc(var(--base-size) / 6) calc(var(--base-size) / 2 + env(safe-area-inset-left));
  height: calc(var(--base-size) + env(safe-area-inset-top));
  box-sizing: border-box;
  color: var(--ui-text-color);
  background-color: var(--ui-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  z-index: 1000;
}
.header_container {
  height: 100%;
}
.header_logo {
  display: inline-block;
  height: 100%;
  width: auto;
  object-fit: contain;
}
.header_title {
  display: inline-block;
  height: 100%;
  line-height: 100%;
  font-size: 1em;
  width: auto;
  margin: 0;
}
.header_button {
  margin: 0;
}
.header_navigation {
  display: flex;
  position: fixed;
}
.header_navigation_list {
  display: flex;
}
main {
  margin-top: calc(var(--base-size) * 1.5);
  width: 100vw;
}
article {
  padding: 0 10vw;
  width: 80vw;
}
.main_works_article-section_iframe {
  width: 80vw;
  height: calc(80vw / 16 * 9);
}
.main_works_hero_image {
  width: 100%;
  height: calc(100vh - var(--base-size));
  object-fit: contain;
}
footer {
  width: 100vw;
}
